# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore build artifacts
build/
dist/
*.spec

# Ignore model files if they are large or private
# Uncomment if needed:
# snap_model.pkl

# Ignore Windows hidden files
Thumbs.db
Desktop.ini

# Ignore OS logs or DS_Store
.DS_Store
*.log

# Ignore the EXE output
*.exe
